<template>
  <div class="field">
    <table>
      <tbody>
        <tr v-for="(row, rowi) in fields" v-bind:key="row"
            v-bind:class="{ top: rowi>0 && rowi%3 == 0 }" >
          <td v-for="(col, coli) in row" v-bind:key="col"
              v-bind:class="{ left: coli>0 && coli%3 == 0 }" >
            <div v-if="isInInit">
              <OptionSquare v-bind:valid_values="new Set([1, 2, 3, 4, 5, 6, 7, 8, 9])"
                            v-bind:unique_value="undefined" />
            </div>
            <div v-else-if="isInPredefine">
              <input
                type="text"
                size="1"
                maxlength="1"
                v-bind:value="getCurrent(coli, rowi)"
                v-on:input="setPredefined(coli, rowi, $event.target.value)"
              />
            </div>
            <div v-else-if="isInAnalyze" class="grouping">
              <div v-if="isPredefined(coli, rowi)" class="predefined">
                {{ getCurrent(coli, rowi) }}
              </div>
              <div v-else id="fixedparent">
                <OptionSquare
                  class="overlay"
                  v-if="show_hints && getCurrent(coli, rowi) === undefined"
                  v-bind:valid_values="fields[coli][rowi].valid_values"
                  v-bind:unique_value="fields[coli][rowi].unique_value"
                />
                <input
                  type="text"
                  maxlength="1"
                  class="overlay transparent"
                  v-bind:value="getCurrent(coli, rowi)"
                  v-on:input="setCurrent(coli, rowi, $event.target.value)"
                  v-bind:class="{ err: hasError(coli, rowi),
                                  highlight: isHighlight(coli, rowi) }"
                />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Access from './access.js'
import States from './state.js'
import OptionSquare from './options_square.vue'
import Step from './step.js'

/**
 * This component shows the 9x9 playground field. The value in each cell is shown according to the provided Cell object.
 */
export default {
  name: 'Field',
  components: {
    OptionSquare
  },
  props: {
    /**
     * The current application state.
     */
    state: Number,
    /**
     * column array (9) of row arrays (9) with Cell instances
     */
    fields: Array,
    /**
     * If true, the possible values for each cell are shown as a hint
     */
    show_hints: Boolean
  },
  emits: [
    /**
     * The user entered a predefined value. A Step object with the details is sent together with this event.
     */
    'predefined-set',
    /**
     * The user entered a value for solving the game. A Step object with the details is sent together with this event.
     */
    'user-set'
  ],
  computed: {
    /**
     * Returns true, if application is in the INIT state
     */
    isInInit() {
      return this.state == States.INIT
    },
    /**
     * Returns true, if application is in the state of accepting the predefined values
     */
    isInPredefine() {
      return this.state == States.PREDEFINED_INPUT
    },
    /**
     * Returns true, if application is in analyzing state
     */
    isInAnalyze() {
      return this.state == States.ANALYZE
    }
  },
  methods: {
    /**
     * Returns the predefined value for the given column and row, if set.
     * Otherwise, returns "undefined"
     */
    isPredefined(col, row) {
      const cell = Access.field(this.fields, col, row)
      return cell.predefined
    },
    /**
     * Returns the user set value for the given column and row, if set.
     * Otherwise, returns "undefined"
     */
    getCurrent(col, row) {
      const cell = Access.field(this.fields, col, row)
      return cell.user_value
    },
    /**
     * Returns true, if the value in the given column and row is not valid (breaks a rule).
     */
    hasError(col, row) {
      const cell = Access.field(this.fields, col, row)
      return cell.current_error
    },
    /**
     * Returns true, if the cell in the given column and row should be highlighted.
     */
    isHighlight(col, row) {
      const cell = Access.field(this.fields, col, row)
      return cell.highlight
    },
    /**
     * User entered a predefined value for a given column and row.
     */
    setPredefined(col, row, val) {
      val = parseInt(val)
      if (isNaN(val)) {
        val = undefined
      }

      this.$emit('predefined-set', Step.createStep(col, row, val))
    },
    /**
     * User entered a current value for a given column and row, in order to solve the game.
     */
    setCurrent(col, row, val) {
      val = parseInt(val)
      if (isNaN(val)) {
        val = undefined
      }

      this.$emit('user-set', Step.createStep(col, row, val))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#fixedparent {
  position: relative;
  height: 1.5em;
  width: 1.5em;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.predefined {
  color: blue;
  background-color: #eee;
  border: 1px solid lightgray;
  height: 1.3em;
  width: 1.3em;
  margin: auto;
}
.err {
  color: red;
}
div.grouping {
  margin: 0px;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
td {
  font-family: Courier, monospace;
  font-size: 3em;
  text-align: center;
  vertical-align: center;
}
td.left {
  border-left: 2px solid black;
}
tr.top {
  border-top: 2px solid black;
}
input {
  height: 1.3em;
  width: 1.3em;
  font-size: 1em;
  text-align: center;
}
input.transparent {
  background: transparent;
}
input.highlight {
  background-color: #ffff99;
}
</style>
