<template>
  <div class="history">
    <h4>History</h4>

    <table>
      <tbody>
        <tr class="header">
          <th></th>
          <th class="right">Step</th>
          <th>Column</th>
          <th>Row</th>
          <th>Value</th>
          <th></th>
        </tr>
        <tr v-for="(step, index) in steps" v-on:mouseover="highlightStep(index)" v-on:mouseleave="highlightStep(-1)" v-bind:key="index">
          <td><span v-if="index == current_step">⇒</span></td>
          <td class="right">
            <a v-on:click="selectStep(index)" href="#">{{ index + 1 }}</a>
          </td>
          <td>{{ step.col + 1 }}</td>
          <td>{{ step.row + 1 }}</td>
          <td>{{ step.val }}</td>
          <td><span v-if="index == current_step">⇐</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
/**
 * The component shows the history of all moves made in the game.
 */
export default {
  name: 'History',
  props: {
    /**
     * The current state of the game.
     */
    state: Number,
    /**
     * List of Step objects containing the made moves.
     */
    steps: Array,
    /**
     * The current step in the history (index for the steps array).
     */
    current_step: Number
  },
  emits: [
    /**
     * User selected a position (index) from the history to show.
     */
    'history-pos-selected',
    /**
     * User requested a highlighting for a position (index) from the history.
     */
    'history-pos-highlight'
  ],
  methods: {
    /**
     * User selected the given index in the history to show in the playground.
     */
    selectStep(index) {
      this.$emit('history-pos-selected', index)
    },
    /**
     * User requested a highlighting for the given index in the history.
     */
    highlightStep(index) {
      this.$emit('history-pos-highlight', index)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
  margin: 0 auto;
  border-collapse: collapse;
}
tr:hover {
  background-color: #ffff99;
}
tr.header {
  border-bottom: 1px solid black;
  background-color: white;
}
td.right,
th.right {
  border-right: 1px solid black;
}
</style>
