<template>
  <div class="menu">
    <div v-if="!isInPredefine">
      <button v-on:click="newGameRequested()">New Game</button>
    </div>
    <div v-else>
      Enter predefined numbers and press
      <button v-on:click="predefindeFinished()">Start</button> when finished
    </div>
  </div>
</template>

<script>
import States from './state.js'

/**
 * The component shows a menu above the game.
 */
export default {
  name: 'Menu',
  props: {
    state: Number
  },
  emits: [
    /**
     * User requested to start a new game.
     */
    'new-game',
    /**
     * User finished entering the predefined numbers.
     */
    'predefined-finished'
  ],
  computed: {
    /**
     * Returns true, if the game is in the state to enter the predefined numbers.
     */
    isInPredefine() {
      return this.state == States.PREDEFINED_INPUT
    }
  },
  methods: {
    /**
     * User requested to start a new game.
     */
    newGameRequested() {
      this.$emit('new-game')
    },
    /**
     * User finished entering the predefined numbers.
     */
    predefindeFinished() {
      this.$emit('predefined-finished')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menu {
  text-align: left;
  margin: 2em;
}
</style>
