<template>
  <div class="options_square">
    <table>
      <tbody>
        <tr v-for="y in [0, 1, 2]" v-bind:key="y">
          <td v-for="x in [0, 1, 2]" v-bind:key="x">
            <span v-bind:class="{ uniq: isUnique(x, y) }"
                  v-bind:style="{ 'text-align': colClass(x), 'vertical-align': rowClass(y) }">
              {{getValueStr(x, y)}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
/**
 * This component shows in a 3x3 square the number 1 to 9 for valid value options. For not valid values
 * a placeholder is shown.
 */
export default {
  name: 'OptionSquare',
  props: {
    /**
     * Set of valid values.
     */
    valid_values: Set,
    /**
     * An unique value to highlight in the valid options.
     */
    unique_value: Number
  },
  methods: {
    getValue(x, y) {
      return y * 3 + x + 1
    },
    isValidValue(x, y) {
      const val = this.getValue(x, y)
      return this.valid_values.has(val)
    },
    getValueStr(x, y) {
      if (this.isValidValue(x, y)) {
        return this.getValue(x, y)
      } else {
        return '⋅'
      }
    },
    isUnique(x, y) {
      return this.getValue(x, y) == this.unique_value
    },
    rowClass(row) {
      const cls = ['top', 'center', 'bottom']
      return cls[row]
    },
    colClass(col) {
      const cls = ['left', 'center', 'right']
      return cls[col]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.options_square {
  width: 100%;
  height: 100%;
}
.uniq {
  color: green;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2em;
}
table {
  font-size: 0.3em;
  width: 99%;
  height: 99%;
}
span {
  font-family: Courier, monospace;
}
</style>
